# 소비자심리지수 함수

## 0. 데이터 불러오기

In [1]:
import numpy as np
import pandas as pd
import datetime
from tqdm.notebook import tqdm
tqdm.pandas()

import matplotlib.pyplot as plt
from matplotlib import rc
import seaborn as sns
%matplotlib inline

rc('font', family='MalgunGothic')
plt.rcParams['axes.unicode_minus'] = False

/usr/local/lib/python3.7/dist-packages/tqdm/std.py:658: FutureWarning: The Panel class is removed from pandas. Accessing it from the top-level namespace will also be removed in the next version
  from pandas import Panel

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
import os
os.chdir('/content/drive/MyDrive/기상청/데이터')

In [4]:
df_final = pd.read_csv('./소비자심리지수.csv',encoding='CP949')

In [5]:
df_final.head()

     시도    2018. 01    2018. 02  ...   2020. 10   2020. 11   2020. 12
0    강릉  102.500000   98.333333  ...  78.833333  83.833333  78.333333
1    강원  103.166667  100.000000  ...  81.166667  85.000000  78.833333
2    경기  102.333333  102.666667  ...  86.500000  92.166667  84.500000
3    경남   94.666667   92.833333  ...  79.500000  85.833333  80.500000
4  광주전남  104.000000  103.666667  ...  84.666667  89.833333  83.500000

[5 rows x 37 columns]

## 1. 데이터 재구조화

In [6]:
df_melt = pd.melt(df_final, id_vars=['시도'])

In [7]:
df_melt['yymm'] = df_melt['variable'].apply(lambda x: x[:4] + x[6:8])

In [29]:
print(df_melt.shape)

(504, 4)

In [30]:
df_melt.head()

     시도  variable       value    yymm
0    강릉  2018. 01  102.500000  201801
1    강원  2018. 01  103.166667  201801
2    경기  2018. 01  102.333333  201801
3    경남  2018. 01   94.666667  201801
4  광주전남  2018. 01  104.000000  201801

In [9]:
df_melt['시도'].unique()

array(['강릉', '강원', '경기', '경남', '광주전남', '대구경북', '대전충남', '부산', '울산', '인천',
       '전북', '제주', '충북', '서울'], dtype=object)

## 2. 함수

* 강원 숫자 처리 필요

In [48]:
def score(data, col_name):
    # 데이터 전처리
    data['시도'] = data['aws_id'].map({108:'서울', 159:'부산', 143:'대구', 112:'인천', 156:'광주',
                                     133:'대전', 152:'울산', 119:'경기', 105:'강원', 131:'충북', 232:'충남',
                                     146:'전북', 168:'전남', 136:'경북', 155:'경남', 184:'제주'})
    data['date'] = pd.to_datetime(data['date'], format='%Y-%m-%d')
    data['year'] = data['date'].dt.year
    data['month'] = data['date'].dt.month
    data['yymm'] = data['year'].map(str) + data['month'].apply(lambda x: str(x) if x >= 10 else '0'+str(x))

    # score 계산
    data['score'] = np.nan
    for i in range(len(data)):
        for j in range(len(df_melt)):
            if (data.loc[i,'yymm'] == df_melt.loc[j,'yymm']) & (data.loc[i,'시도'] in df_melt.loc[j,'시도']):
                data.loc[i,'score'] = data.loc[i,col_name]*(df_melt.loc[j,'value']/100)
    return pd.DataFrame(data.groupby(['date'])['score'].mean()).reset_index()

## 3. 실행예시

In [14]:
example = pd.DataFrame({'date' : ['2018-01-01','2018-01-01','2018-01-01','2018-02-01','2018-12-31'],
                        'aws_id' : [108,159,143,112,156],
                        'hm_max' : [91,25,89,67,85]})

In [15]:
example

         date  aws_id  hm_max
0  2018-01-01     108      91
1  2018-01-01     159      25
2  2018-01-01     143      89
3  2018-02-01     112      67
4  2018-12-31     156      85

In [49]:
daily_score = score(example, 'hm_max')

In [50]:
daily_score

        date      score
0 2018-01-01  66.454444
1 2018-02-01  65.436667
2 2018-12-31  77.775000

In [46]:
# 확인
print((df_melt[(df_melt['yymm']=='201801')&(df_melt['시도']=='서울')].value/100)*91)
print((df_melt[(df_melt['yymm']=='201801')&(df_melt['시도']=='부산')].value/100)*25)
print((df_melt[(df_melt['yymm']=='201801')&(df_melt['시도']=='대구경북')].value/100)*89)

13    90.696667
Name: value, dtype: float64
7    23.375
Name: value, dtype: float64
5    85.291667
Name: value, dtype: float64

In [47]:
(sum([90.696667,23.375,85.291667])/3)

66.45444466666667