# 미세먼지, 습도, 일조시간, 기압

In [7]:
import warnings
warnings.filterwarnings(action='ignore')

import pandas as pd 
import numpy as np
pd.set_option("max_rows", 500)
pd.set_option("max_columns", 500)
pd.set_option('float_format', '{:f}'.format)

import os 
import datetime
from tqdm import tqdm 
from functools import reduce

## 0. 데이터 로드

### 0-1. 미세먼지 데이터

In [164]:
def load_dust(year) : 
    
    # folder path 설정 
    file_path = os.path.join(os.path.abspath(".."), 'data\\' + year)
    file_list = os.listdir(file_path)
    
    # 파일 불러오기
    data_file = sorted([file for file in file_list if file.startswith(year)])
    
    # csv 파일들을 DataFrame으로 불러와서 concat
    df = pd.DataFrame()
    for d in data_file:
        data = pd.read_excel(os.path.join(file_path, d), engine='openpyxl')
        df = pd.concat([df, data], axis=0).reset_index(drop=True)
    df = df[~df.지역.isna()] # 지역값이 없는 경우 제거
    df = df[~df.PM10.isna()]
    df = df[~df.PM25.isna()]
    
    # 지역 리스트
    region = {'서울':108, '부산':159, '대구':143, '인천':112, '광주':156, '대전':133, '울산':152, '수원':118, 
              '춘천':101, '강릉':105, '청주':131, '천안':232, '전주':146, '여수':168, '안동':136, '창원':155}
    
    # 시간별 데이터를 일별 데이터로 변환
    # 지역별 평균값
    data = pd.DataFrame()
    for r, code in region.items(): # r:지명, code:지역코드
        sample = df.copy()
        sample['date'] = sample['측정일시'].apply(lambda x : str(x)[:8])
        sample['region'] = sample['지역'].apply(lambda x : r if r in x else None)
        sample = sample[sample.region == r]
        sample['aws_id'] = code
        sample = sample.groupby(['date', 'region', 'aws_id']).mean().reset_index()[['date', 'region', 'aws_id', 'PM10', 'PM25']]
        data = pd.concat([data, sample], axis=0).reset_index(drop=True)

    return data

In [120]:
dust2018 = load_dust('2018')
dust2019 = load_dust('2019')
dust2020 = load_dust('2020')

In [165]:
dust2020 = load_dust('2020')

In [166]:
dust = pd.concat([dust2018, dust2019, dust2020], axis=0).reset_index(drop=True)
dust.shape

(17536, 5)

In [271]:
dust.columns = ['date', 'region', 'aws_id', 'PM10', 'PM25']

In [272]:
dust.head()

        date region  aws_id      PM10      PM25
0 2018-01-01     서울     108 44.587321 21.150087
1 2018-01-02     서울     108 43.079327 22.687943
2 2018-01-03     서울     108 37.205011 19.033569
3 2018-01-04     서울     108 48.290359 25.381462
4 2018-01-05     서울     108 60.084538 37.246479

### 0-2. 날씨 데이터

In [16]:
def load_file(weather) : 
    
    '''
    weather : 추출하고 싶은 날씨 데이터 변수 
    '''
    
    # folder path 설정 
    file_path = os.path.join(os.path.abspath(".."), 'data')
    file_list = os.listdir(file_path)
    
    # startswith('i') : i로 시작하는 파일 모두 불러오기 / endswith('csv') : csv 파일 모두 불러오기 
    data_file = sorted([file for file in file_list if file.startswith(weather)])
 
    # csv 파일들을 DataFrame으로 불러와서 concat
    df = pd.DataFrame()
    for d in data_file:
        data = pd.read_csv(os.path.join(file_path, d))
        df = pd.concat([df, data], axis=0).reset_index(drop=True)
    
    # index column 삭제 ..ㅎㅎ 
    df = df.drop('Unnamed: 0', axis=1)
    
    return df

In [190]:
humid = load_file('humid')
sun = load_file('sun')
press = load_file('press')

humid.shape, sun.shape, press.shape

((420864, 4), (17441, 3), (17536, 4))

## 1. 미세먼지

In [169]:
tqdm.pandas()
dust['date'] = dust['date'].progress_apply(lambda x : pd.to_datetime(x))

100%|█████████████████████████████████████████████████████████████████████████| 17536/17536 [00:01<00:00, 11230.09it/s]

### 결측치

In [170]:
dust.isnull().sum()

date        0
region      0
code        0
PM10      201
PM25      230
dtype: int64

In [171]:
dust[dust.PM25.isnull()]

            date region  code      PM10  PM25
3316  2018-02-01     강릉   105 19.458333   nan
3560  2018-10-03     강릉   105       nan   nan
3561  2018-10-04     강릉   105       nan   nan
3562  2018-10-05     강릉   105       nan   nan
3563  2018-10-06     강릉   105       nan   nan
3564  2018-10-07     강릉   105       nan   nan
3565  2018-10-08     강릉   105       nan   nan
3566  2018-10-09     강릉   105       nan   nan
3567  2018-10-10     강릉   105       nan   nan
3568  2018-10-11     강릉   105       nan   nan
3569  2018-10-12     강릉   105       nan   nan
3570  2018-10-13     강릉   105       nan   nan
3571  2018-10-14     강릉   105       nan   nan
3572  2018-10-15     강릉   105       nan   nan
3573  2018-10-16     강릉   105       nan   nan
3574  2018-10-17     강릉   105       nan   nan
3575  2018-10-18     강릉   105       nan   nan
3576  2018-10-19     강릉   105       nan   nan
3577  2018-10-20     강릉   105       nan   nan
3578  2018-10-21     강릉   105       nan   nan
3579  2018-10-22     강릉   105       nan   nan
3580  2018-10-23     강릉   105       nan   nan
3581  2018-10-24     강릉   105       nan   nan
3582  2018-10-25     강릉   105       nan   nan
3583  2018-10-26     강릉   105       nan   nan
3584  2018-10-27     강릉   105       nan   nan
3585  2018-10-28     강릉   105       nan   nan
3586  2018-10-29     강릉   105       nan   nan
3587  2018-10-30     강릉   105       nan   nan
3588  2018-10-31     강릉   105       nan   nan
3589  2018-11-01     강릉   105       nan   nan
3590  2018-11-02     강릉   105       nan   nan
3591  2018-11-03     강릉   105       nan   nan
3592  2018-11-04     강릉   105       nan   nan
3593  2018-11-05     강릉   105       nan   nan
3594  2018-11-06     강릉   105       nan   nan
4249  2018-08-23     천안   232       nan   nan
4250  2018-08-24     천안   232       nan   nan
5231  2018-05-02     안동   136 34.583333   nan
5345  2018-08-24     안동   136 13.947368   nan
5346  2018-08-25     안동   136 32.250000   nan
5347  2018-08-26     안동   136 20.333333   nan
5427  2018-11-14     안동   136       nan   nan
5428  2018-11-15     안동   136       nan   nan
5429  2018-11-16     안동   136       nan   nan
5430  2018-11-17     안동   136       nan   nan
5431  2018-11-18     안동   136       nan   nan
5432  2018-11-19     안동   136       nan   nan
5433  2018-11-20     안동   136       nan   nan
5434  2018-11-21     안동   136       nan   nan
5435  2018-11-22     안동   136       nan   nan
5436  2018-11-23     안동   136       nan   nan
5437  2018-11-24     안동   136       nan   nan
5438  2018-11-25     안동   136       nan   nan
5439  2018-11-26     안동   136       nan   nan
5440  2018-11-27     안동   136       nan   nan
5441  2018-11-28     안동   136       nan   nan
5442  2018-11-29     안동   136       nan   nan
5443  2018-11-30     안동   136       nan   nan
5444  2018-12-01     안동   136       nan   nan
5445  2018-12-02     안동   136       nan   nan
5446  2018-12-03     안동   136       nan   nan
5447  2018-12-04     안동   136       nan   nan
5448  2018-12-05     안동   136       nan   nan
5449  2018-12-06     안동   136       nan   nan
5450  2018-12-07     안동   136       nan   nan
5451  2018-12-08     안동   136       nan   nan
5452  2018-12-09     안동   136       nan   nan
5453  2018-12-10     안동   136       nan   nan
5454  2018-12-11     안동   136       nan   nan
5455  2018-12-12     안동   136       nan   nan
5456  2018-12-13     안동   136       nan   nan
5457  2018-12-14     안동   136       nan   nan
5458  2018-12-15     안동   136       nan   nan
5459  2018-12-16     안동   136       nan   nan
5460  2018-12-17     안동   136       nan   nan
5461  2018-12-18     안동   136       nan   nan
5462  2018-12-19     안동   136       nan   nan
5463  2018-12-20     안동   136       nan   nan
5464  2018-12-21     안동   136       nan   nan
5465  2018-12-22     안동   136       nan   nan
5466  2018-12-23     안동   136       nan   nan
5467  2018-12-24     안동   136       nan   nan
5468  2018-12-25     안동   136       nan   nan
5469  2018-12-26     안동   136       nan   nan
5470  2018-12-27     안동   136       nan   nan
5471  2018-12-28     안동   136       nan   nan
5472  2018-12-29     안동   136       nan   nan
5473  2018-12-30     안동   136       nan   nan
5474  2018-12-31     안동   136       nan   nan
9418  2019-10-21     강릉   105       nan   nan
9419  2019-10-22     강릉   105       nan   nan
9420  2019-10-23     강릉   105       nan   nan
9421  2019-10-24     강릉   105       nan   nan
9422  2019-10-25     강릉   105       nan   nan
9423  2019-10-26     강릉   105       nan   nan
9424  2019-10-27     강릉   105       nan   nan
9425  2019-10-28     강릉   105       nan   nan
9426  2019-10-29     강릉   105       nan   nan
9427  2019-10-30     강릉   105       nan   nan
9428  2019-10-31     강릉   105       nan   nan
9429  2019-11-01     강릉   105       nan   nan
9430  2019-11-02     강릉   105       nan   nan
9431  2019-11-03     강릉   105       nan   nan
9432  2019-11-04     강릉   105       nan   nan
9433  2019-11-05     강릉   105       nan   nan
9434  2019-11-06     강릉   105       nan   nan
9435  2019-11-07     강릉   105       nan   nan
9436  2019-11-08     강릉   105       nan   nan
9437  2019-11-09     강릉   105       nan   nan
9438  2019-11-10     강릉   105       nan   nan
9439  2019-11-11     강릉   105       nan   nan
9440  2019-11-12     강릉   105       nan   nan
9441  2019-11-13     강릉   105       nan   nan
9442  2019-11-14     강릉   105       nan   nan
9443  2019-11-15     강릉   105       nan   nan
9444  2019-11-16     강릉   105       nan   nan
9445  2019-11-17     강릉   105       nan   nan
9446  2019-11-18     강릉   105       nan   nan
9447  2019-11-19     강릉   105       nan   nan
9448  2019-11-20     강릉   105       nan   nan
9449  2019-11-21     강릉   105       nan   nan
9450  2019-11-22     강릉   105       nan   nan
9451  2019-11-23     강릉   105       nan   nan
9452  2019-11-24     강릉   105       nan   nan
9453  2019-11-25     강릉   105       nan   nan
9454  2019-11-26     강릉   105       nan   nan
9455  2019-11-27     강릉   105       nan   nan
9456  2019-11-28     강릉   105       nan   nan
9457  2019-11-29     강릉   105       nan   nan
9458  2019-11-30     강릉   105       nan   nan
10950 2019-01-01     안동   136       nan   nan
10951 2019-01-02     안동   136       nan   nan
10952 2019-01-03     안동   136       nan   nan
10953 2019-01-04     안동   136       nan   nan
10954 2019-01-05     안동   136       nan   nan
10955 2019-01-06     안동   136       nan   nan
10956 2019-01-07     안동   136       nan   nan
10957 2019-01-08     안동   136       nan   nan
10958 2019-01-09     안동   136       nan   nan
10959 2019-01-10     안동   136       nan   nan
10960 2019-01-11     안동   136       nan   nan
10961 2019-01-12     안동   136       nan   nan
10962 2019-01-13     안동   136       nan   nan
10963 2019-01-14     안동   136       nan   nan
10964 2019-01-15     안동   136       nan   nan
10965 2019-01-16     안동   136       nan   nan
10966 2019-01-17     안동   136       nan   nan
10967 2019-01-18     안동   136       nan   nan
10968 2019-01-19     안동   136       nan   nan
10969 2019-01-20     안동   136       nan   nan
10970 2019-01-21     안동   136       nan   nan
10971 2019-01-22     안동   136       nan   nan
10972 2019-01-23     안동   136       nan   nan
10973 2019-01-24     안동   136       nan   nan
10974 2019-01-25     안동   136       nan   nan
10975 2019-01-26     안동   136       nan   nan
10976 2019-01-27     안동   136       nan   nan
10977 2019-01-28     안동   136       nan   nan
10978 2019-01-29     안동   136       nan   nan
10979 2019-01-30     안동   136       nan   nan
10980 2019-01-31     안동   136       nan   nan
10981 2019-02-01     안동   136       nan   nan
10982 2019-02-02     안동   136       nan   nan
10983 2019-02-03     안동   136       nan   nan
10984 2019-02-04     안동   136       nan   nan
10985 2019-02-05     안동   136       nan   nan
10986 2019-02-06     안동   136       nan   nan
10987 2019-02-07     안동   136       nan   nan
10988 2019-02-08     안동   136       nan   nan
10989 2019-02-09     안동   136       nan   nan
10990 2019-02-10     안동   136       nan   nan
10991 2019-02-11     안동   136       nan   nan
10992 2019-02-12     안동   136       nan   nan
10993 2019-02-13     안동   136       nan   nan
10994 2019-02-14     안동   136 12.750000   nan
10995 2019-02-15     안동   136 35.375000   nan
10996 2019-02-16     안동   136 45.916667   nan
10997 2019-02-17     안동   136 39.625000   nan
10998 2019-02-18     안동   136 31.791667   nan
10999 2019-02-19     안동   136 22.750000   nan
11000 2019-02-20     안동   136 46.750000   nan
11001 2019-02-21     안동   136 71.500000   nan
11002 2019-02-22     안동   136 61.916667   nan
11003 2019-02-23     안동   136 37.541667   nan
11004 2019-02-24     안동   136 37.833333   nan
15296 2020-11-18     강릉   105 46.708333   nan
15297 2020-11-19     강릉   105 14.166667   nan
15298 2020-11-20     강릉   105 16.142857   nan
15299 2020-11-21     강릉   105 21.375000   nan
15300 2020-11-22     강릉   105 12.083333   nan
15301 2020-11-23     강릉   105 18.041667   nan
15302 2020-11-24     강릉   105 19.090909   nan
15303 2020-11-25     강릉   105 20.041667   nan
15304 2020-11-26     강릉   105 27.208333   nan
15305 2020-11-27     강릉   105 33.166667   nan
15306 2020-11-28     강릉   105 21.666667   nan
15307 2020-11-29     강릉   105 20.708333   nan
15308 2020-11-30     강릉   105 14.958333   nan
15309 2020-12-01     강릉   105 14.958333   nan
15310 2020-12-02     강릉   105 13.500000   nan
15311 2020-12-03     강릉   105 15.916667   nan
15312 2020-12-04     강릉   105 20.541667   nan
15313 2020-12-05     강릉   105 19.708333   nan
15314 2020-12-06     강릉   105 32.333333   nan
15315 2020-12-07     강릉   105 55.904762   nan
15316 2020-12-08     강릉   105 16.666667   nan
15317 2020-12-09     강릉   105 13.750000   nan
15318 2020-12-10     강릉   105 41.125000   nan
15319 2020-12-11     강릉   105 62.708333   nan
15320 2020-12-12     강릉   105 46.500000   nan
15321 2020-12-13     강릉   105 30.500000   nan
15322 2020-12-14     강릉   105 13.375000   nan
15323 2020-12-15     강릉   105 11.136364   nan
15324 2020-12-16     강릉   105  9.500000   nan
15325 2020-12-17     강릉   105 13.956522   nan
15326 2020-12-18     강릉   105 27.208333   nan
15327 2020-12-19     강릉   105 16.541667   nan
15328 2020-12-20     강릉   105 16.166667   nan
15329 2020-12-21     강릉   105 18.791667   nan
15330 2020-12-22     강릉   105 34.041667   nan
15331 2020-12-23     강릉   105 57.666667   nan
15332 2020-12-24     강릉   105 52.583333   nan
15333 2020-12-25     강릉   105 18.916667   nan
15334 2020-12-26     강릉   105 53.708333   nan
15335 2020-12-27     강릉   105 61.583333   nan
15336 2020-12-28     강릉   105 42.166667   nan
15337 2020-12-29     강릉   105 47.125000   nan
15338 2020-12-30     강릉   105 29.333333   nan
15339 2020-12-31     강릉   105 20.250000   nan

## 2. 습도  
* 일별 데이터  
  * `date` : 날짜  
  * `aws_id` : 관측지점  
  * `hm_max` : 시간당 최대 습도

In [191]:
tqdm.pandas()
humid['date'] = humid['tm'].progress_apply(lambda x : pd.to_datetime(x[:10]))

100%|███████████████████████████████████████████████████████████████████████| 420864/420864 [00:36<00:00, 11429.39it/s]

In [256]:
humid2 = humid.groupby(['date', 'aws_id']).max().reset_index()[['date', 'aws_id', 'hm_max']]
humid2.head()

        date  aws_id    hm_max
0 2018-01-01     105 25.400000
1 2018-01-01     108 57.100000
2 2018-01-01     112 67.200000
3 2018-01-01     119 84.700000
4 2018-01-01     131 71.400000

### 결측치

In [255]:
''' 해당 지역, 해당 년월의 평균치로 결측치를 대체하는 함수'''

def missing_value(data, aws_id, year, month, var):
    data['year'] = data['date'].apply(lambda x : x.year)
    data['month'] = data['date'].apply(lambda x : x.month)
    sample = data[(data.aws_id==aws_id)&(data.year==year)&(data.month==month)]
    alt = sample[var].mean() # 평균
    # 대체
    data[(data.aws_id==aws_id)&(data.year==year)&(data.month==month)] = data[(data.aws_id==aws_id)&(data.year==year)&(data.month==month)].fillna(alt) 
    data = data.drop(['year', 'month'], axis=1) # 월 변수 제거
    return data

In [257]:
humid2.isnull().sum()

date      0
aws_id    0
hm_max    9
dtype: int64

In [258]:
humid2[humid2.hm_max.isna()] # 232 : 충남(천안)

           date  aws_id  hm_max
7087 2019-03-19     232     nan
7103 2019-03-20     232     nan
7119 2019-03-21     232     nan
7231 2019-03-28     232     nan
7247 2019-03-29     232     nan
7263 2019-03-30     232     nan
7279 2019-03-31     232     nan
7295 2019-04-01     232     nan
7511 2019-04-15     143     nan

In [259]:
humid2 = missing_value(humid2, 232, 2019, 3, 'hm_max')
humid2 = missing_value(humid2, 232, 2019, 4, 'hm_max')
humid2 = missing_value(humid2, 143, 2019, 4, 'hm_max')

In [260]:
humid2.isnull().sum()

date      0
aws_id    0
hm_max    0
dtype: int64

## 3. 일조시간  
* 일별 데이터  
  * `date` : 날짜  
  * `stn_id` : 지역  
  * `sum_ss_hr` : 합계 일조시간

In [250]:
tqdm.pandas()
sun['date'] = sun['tma'].progress_apply(lambda x : pd.to_datetime(x[:10]))

100%|█████████████████████████████████████████████████████████████████████████| 17441/17441 [00:01<00:00, 11847.42it/s]

In [261]:
sun2 = sun.groupby(['date', 'stn_id']).max().reset_index()[['date', 'stn_id', 'sum_ss_hr']]
sun2.columns = ['date', 'aws_id', 'sum_ss_hr']

In [262]:
sun2.head()

        date  aws_id  sum_ss_hr
0 2018-01-01     105  57.900000
1 2018-01-01     108  51.600000
2 2018-01-01     112  53.800000
3 2018-01-01     119  52.700000
4 2018-01-01     131  54.600000

### 결측치

In [263]:
sun2.isnull().sum() # 결측치 없음

date         0
aws_id       0
sum_ss_hr    0
dtype: int64

## 4. 기압  
* 일별 데이터  
  * `date` : 날짜  
  * `stn_id` : 지역  
  * `max_pa` : 최고 현지기압

In [236]:
tqdm.pandas()
press['date'] = press['tma'].progress_apply(lambda x : pd.to_datetime(x[:10]))

100%|█████████████████████████████████████████████████████████████████████████| 17536/17536 [00:01<00:00, 11908.54it/s]

In [264]:
press2 = press.groupby(['date', 'stn_id']).max().reset_index()[['date', 'stn_id', 'max_pa']]
press2.columns = ['date', 'aws_id', 'max_pa']

In [265]:
press2.head()

        date  aws_id      max_pa
0 2018-01-01     105 1023.000000
1 2018-01-01     108 1018.100000
2 2018-01-01     112 1020.300000
3 2018-01-01     119 1025.100000
4 2018-01-01     131 1022.000000

### 결측치

In [266]:
press2.isnull().sum()

date      0
aws_id    0
max_pa    4
dtype: int64

In [267]:
press2[press2.max_pa.isna()] # 143 : 대구 / 105 : 강릉

            date  aws_id  max_pa
7511  2019-04-15     143     nan
11648 2019-12-30     105     nan
11664 2019-12-31     105     nan
11680 2020-01-01     105     nan

In [268]:
press2 = missing_value(press2, 143, 2019, 4, 'max_pa')
press2 = missing_value(press2, 105, 2019, 12, 'max_pa')
press2 = missing_value(press2, 105, 2020, 1, 'max_pa')

In [269]:
press2.isnull().sum()

date      0
aws_id    0
max_pa    0
dtype: int64

# 데이터 병합

In [274]:
weather = reduce(lambda left, right : pd.merge(left, right, on=['date', 'aws_id']), [dust, humid2, sun2, press2])

In [275]:
print(weather.shape)
weather.head()

(15249, 8)

,date,region,aws_id,PM10,PM25,hm_max,sum_ss_hr,max_pa
0,2018-01-01,서울,108,44.587321,21.150087,57.100000,51.600000,1018.100000
1,2018-01-02,서울,108,43.079327,22.687943,71.600000,48.400000,1019.600000
2,2018-01-03,서울,108,37.205011,19.033569,54.500000,53.600000,1021.900000
3,2018-01-04,서울,108,48.290359,25.381462,57.000000,41.500000,1020.400000
4,2018-01-05,서울,108,60.084538,37.246479,56.900000,49.100000,1012.700000