In [1]:
import requests

In [20]:
import json
from pandas.io.json import json_normalize

In [49]:
import re
from bs4 import BeautifulSoup

In [60]:
import pandas as pd 
import numpy as np 

import dataload

In [61]:
import warnings
warnings.filterwarnings(action='ignore')

In [62]:
buy_full = dataload.load_buy()
print(buy_full.shape)
buy_full.head()

(2056899, 6)

       date sex  age big_cat sm_cat  qty
0  20180101   F   20      식품    가공란   37
1  20180101   F   30      식품    가공란   16
2  20180101   F   40      식품    가공란    9
3  20180101   F   50      식품    가공란    3
4  20180101   M   20      식품    가공란   13

In [65]:
buy_full.big_cat.value_counts()

식품       1229819
뷰티        697853
냉난방가전     129227
Name: big_cat, dtype: int64

In [68]:
food = list(buy_full[buy_full["big_cat"]=="식품"].sm_cat.unique())
beauty = list(buy_full[buy_full["big_cat"]=="뷰티"].sm_cat.unique())
app = list(buy_full[buy_full["big_cat"]=="냉난방가전"].sm_cat.unique())

In [55]:
url = 'https://datalab.naver.com/shoppingInsight/sKeyword.naver'

In [41]:
header = {
    'referer' : 'https://datalab.naver.com/shoppingInsight/sCategory.naver' , 
    'user-agent' : 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/90.0.4430.212 Safari/537.36'
}

In [56]:
params = {
    'cid': '50000000',
    
    'timeUnit': 'date',
    'startDate': '2018-01-01', 
    'endDate': '2018-12-31',
    }

In [50]:
response = requests.post(url, headers=header)

In [57]:
response = requests.post(url, data = params, headers=header)

In [59]:
response.text

'<!doctype html><html lang="en"><head><title>HTTP Status 405 – Method Not Allowed</title><style type="text/css">body {font-family:Tahoma,Arial,sans-serif;} h1, h2, h3, b {color:white;background-color:#525D76;} h1 {font-size:22px;} h2 {font-size:16px;} h3 {font-size:14px;} p {font-size:12px;} a {color:black;} .line {height:1px;background-color:#525D76;border:none;}</style></head><body><h1>HTTP Status 405 – Method Not Allowed</h1><hr class="line" /><p><b>Type</b> Status Report</p><p><b>Message</b> Request method \'POST\' not supported</p><p><b>Description</b> The method received in the request-line is known by the origin server but not supported by the target resource.</p><hr class="line" /><h3>Apache Tomcat/7.0.100</h3></body></html>'

In [39]:
json_normalize(response.json()["result"][0]["data"])

<ipython-input-39-f290f8098bd4>:1: FutureWarning: pandas.io.json.json_normalize is deprecated, use pandas.json_normalize instead
  json_normalize(response.json()["result"][0]["data"])

       period     value
0    20180101  57.75037
1    20180102  59.97403
2    20180103  62.08791
3    20180104  61.66756
4    20180105  54.08339
..        ...       ...
360  20181227  71.68345
361  20181228  63.42447
362  20181229  67.23612
363  20181230  73.27083
364  20181231  56.99914

[365 rows x 2 columns]

In [40]:
response.json()

{'code': '',
 'message': '',
 'shoppingParam': {'startDate': '2018-01-01',
  'endDate': '2018-12-31',
  'timeUnit': 'date',
  'cid': '50000805',
  'device': '',
  'gender': '',
  'age': '',
  'keyword': None,
  'page': 0,
  'count': 0,
  'type': None,
  'date': None,
  'dateRange': '2018.01.01. ~ 2018.12.31.'},
 'chartType': 'lineChart',
 'range': '2018.01.01. ~ 2018.12.31.',
 'result': [{'code': '50000805',
   'title': '니트/스웨터',
   'fullTitle': '패션의류 > 여성의류 > 니트/스웨터',
   'data': [{'period': '20180101', 'value': 57.75037},
    {'period': '20180102', 'value': 59.97403},
    {'period': '20180103', 'value': 62.08791},
    {'period': '20180104', 'value': 61.66756},
    {'period': '20180105', 'value': 54.08339},
    {'period': '20180106', 'value': 61.21658},
    {'period': '20180107', 'value': 70.59588},
    {'period': '20180108', 'value': 66.00632},
    {'period': '20180109', 'value': 67.0957},
    {'period': '20180110', 'value': 64.08684},
    {'period': '20180111', 'value': 63.41386},
    {'period': '20180112', 'value': 54.80884},
    {'period': '20180113', 'value': 58.21651},
    {'period': '20180114', 'value': 66.91252},
    {'period': '20180115', 'value': 60.85325},
    {'period': '20180116', 'value': 60.47506},
    {'period': '20180117', 'value': 58.56044},
    {'period': '20180118', 'value': 54.37727},
    {'period': '20180119', 'value': 47.68201},
    {'period': '20180120', 'value': 52.84205},
    {'period': '20180121', 'value': 61.13712},
    {'period': '20180122', 'value': 57.53504},
    {'period': '20180123', 'value': 58.49402},
    {'period': '20180124', 'value': 58.10976},
    {'period': '20180125', 'value': 53.04525},
    {'period': '20180126', 'value': 47.88885},
    {'period': '20180127', 'value': 51.13761},
    {'period': '20180128', 'value': 61.20506},
    {'period': '20180129', 'value': 55.18764},
    {'period': '20180130', 'value': 54.91438},
    {'period': '20180131', 'value': 51.83758},
    {'period': '20180201', 'value': 48.91758},
    {'period': '20180202', 'value': 42.76914},
    {'period': '20180203', 'value': 48.98309},
    {'period': '20180204', 'value': 59.30924},
    {'period': '20180205', 'value': 55.91855},
    {'period': '20180206', 'value': 53.68821},
    {'period': '20180207', 'value': 51.04996},
    {'period': '20180208', 'value': 44.56245},
    {'period': '20180209', 'value': 37.27974},
    {'period': '20180210', 'value': 39.56527},
    {'period': '20180211', 'value': 46.9787},
    {'period': '20180212', 'value': 36.50576},
    {'period': '20180213', 'value': 30.51564},
    {'period': '20180214', 'value': 27.02092},
    {'period': '20180215', 'value': 24.62923},
    {'period': '20180216', 'value': 24.25256},
    {'period': '20180217', 'value': 29.00499},
    {'period': '20180218', 'value': 39.22044},
    {'period': '20180219', 'value': 37.25517},
    {'period': '20180220', 'value': 35.89495},
    {'period': '20180221', 'value': 34.3652},
    {'period': '20180222', 'value': 33.10475},
    {'period': '20180223', 'value': 29.45263},
    {'period': '20180224', 'value': 30.76069},
    {'period': '20180225', 'value': 37.41561},
    {'period': '20180226', 'value': 35.71814},
    {'period': '20180227', 'value': 35.79305},
    {'period': '20180228', 'value': 32.99679},
    {'period': '20180301', 'value': 36.58219},
    {'period': '20180302', 'value': 30.69215},
    {'period': '20180303', 'value': 32.69745},
    {'period': '20180304', 'value': 40.04203},
    {'period': '20180305', 'value': 33.19695},
    {'period': '20180306', 'value': 32.87032},
    {'period': '20180307', 'value': 33.73801},
    {'period': '20180308', 'value': 32.36262},
    {'period': '20180309', 'value': 26.24057},
    {'period': '20180310', 'value': 27.15375},
    {'period': '20180311', 'value': 32.54702},
    {'period': '20180312', 'value': 29.96275},
    {'period': '20180313', 'value': 28.49335},
    {'period': '20180314', 'value': 26.63514},
    {'period': '20180315', 'value': 26.56387},
    {'period': '20180316', 'value': 23.76427},
    {'period': '20180317', 'value': 24.69171},
    {'period': '20180318', 'value': 27.05883},
    {'period': '20180319', 'value': 24.59557},
    {'period': '20180320', 'value': 23.28933},
    {'period': '20180321', 'value': 23.34059},
    {'period': '20180322', 'value': 23.44492},
    {'period': '20180323', 'value': 19.07978},
    {'period': '20180324', 'value': 19.55017},
    {'period': '20180325', 'value': 22.91993},
    {'period': '20180326', 'value': 20.53037},
    {'period': '20180327', 'value': 20.2829},
    {'period': '20180328', 'value': 19.25477},
    {'period': '20180329', 'value': 18.24302},
    {'period': '20180330', 'value': 15.63267},
    {'period': '20180331', 'value': 16.10882},
    {'period': '20180401', 'value': 19.24901},
    {'period': '20180402', 'value': 17.06689},
    {'period': '20180403', 'value': 16.4021},
    {'period': '20180404', 'value': 16.6147},
    {'period': '20180405', 'value': 15.79675},
    {'period': '20180406', 'value': 13.42811},
    {'period': '20180407', 'value': 13.6947},
    {'period': '20180408', 'value': 16.42636},
    {'period': '20180409', 'value': 15.18048},
    {'period': '20180410', 'value': 15.69454},
    {'period': '20180411', 'value': 15.77734},
    {'period': '20180412', 'value': 14.38558},
    {'period': '20180413', 'value': 13.12605},
    {'period': '20180414', 'value': 14.01587},
    {'period': '20180415', 'value': 15.54472},
    {'period': '20180416', 'value': 14.80471},
    {'period': '20180417', 'value': 15.22718},
    {'period': '20180418', 'value': 14.68097},
    {'period': '20180419', 'value': 13.6395},
    {'period': '20180420', 'value': 12.16889},
    {'period': '20180421', 'value': 11.92141},
    {'period': '20180422', 'value': 15.01246},
    {'period': '20180423', 'value': 14.00041},
    {'period': '20180424', 'value': 12.83641},
    {'period': '20180425', 'value': 12.78061},
    {'period': '20180426', 'value': 12.69114},
    {'period': '20180427', 'value': 11.55262},
    {'period': '20180428', 'value': 11.47225},
    {'period': '20180429', 'value': 13.13363},
    {'period': '20180430', 'value': 12.69993},
    {'period': '20180501', 'value': 13.97342},
    {'period': '20180502', 'value': 13.20278},
    {'period': '20180503', 'value': 11.57294},
    {'period': '20180504', 'value': 10.16692},
    {'period': '20180505', 'value': 9.51668},
    {'period': '20180506', 'value': 11.47134},
    {'period': '20180507', 'value': 12.24865},
    {'period': '20180508', 'value': 11.79069},
    {'period': '20180509', 'value': 12.5953},
    {'period': '20180510', 'value': 11.98601},
    {'period': '20180511', 'value': 11.43828},
    {'period': '20180512', 'value': 11.2181},
    {'period': '20180513', 'value': 12.59378},
    {'period': '20180514', 'value': 13.17578},
    {'period': '20180515', 'value': 13.5103},
    {'period': '20180516', 'value': 13.29224},
    {'period': '20180517', 'value': 11.99935},
    {'period': '20180518', 'value': 10.28884},
    {'period': '20180519', 'value': 9.86667},
    {'period': '20180520', 'value': 12.06456},
    {'period': '20180521', 'value': 11.70638},
    {'period': '20180522', 'value': 13.23432},
    {'period': '20180523', 'value': 12.69751},
    {'period': '20180524', 'value': 12.02756},
    {'period': '20180525', 'value': 10.95364},
    {'period': '20180526', 'value': 10.80533},
    {'period': '20180527', 'value': 13.74929},
    {'period': '20180528', 'value': 13.25646},
    {'period': '20180529', 'value': 13.3432},
    {'period': '20180530', 'value': 13.26798},
    {'period': '20180531', 'value': 12.37906},
    {'period': '20180601', 'value': 11.45223},
    {'period': '20180602', 'value': 11.06524},
    {'period': '20180603', 'value': 13.14788},
    {'period': '20180604', 'value': 13.73655},
    {'period': '20180605', 'value': 12.55224},
    {'period': '20180606', 'value': 14.26608},
    {'period': '20180607', 'value': 13.78144},
    {'period': '20180608', 'value': 11.80222},
    {'period': '20180609', 'value': 11.29786},
    {'period': '20180610', 'value': 13.70744},
    {'period': '20180611', 'value': 13.8424},
    {'period': '20180612', 'value': 13.18731},
    {'period': '20180613', 'value': 13.86787},
    {'period': '20180614', 'value': 12.80335},
    {'period': '20180615', 'value': 11.40795},
    {'period': '20180616', 'value': 11.38066},
    {'period': '20180617', 'value': 13.94491},
    {'period': '20180618', 'value': 14.00951},
    {'period': '20180619', 'value': 13.69925},
    {'period': '20180620', 'value': 13.05083},
    {'period': '20180621', 'value': 12.52251},
    {'period': '20180622', 'value': 10.93665},
    {'period': '20180623', 'value': 10.77955},
    {'period': '20180624', 'value': 12.91557},
    {'period': '20180625', 'value': 12.80912},
    {'period': '20180626', 'value': 12.97562},
    {'period': '20180627', 'value': 12.59439},
    {'period': '20180628', 'value': 11.67181},
    {'period': '20180629', 'value': 10.53359},
    {'period': '20180630', 'value': 11.49166},
    {'period': '20180701', 'value': 14.05682},
    {'period': '20180702', 'value': 13.00807},
    {'period': '20180703', 'value': 13.37777},
    {'period': '20180704', 'value': 12.80093},
    {'period': '20180705', 'value': 12.42607},
    {'period': '20180706', 'value': 10.75681},
    {'period': '20180707', 'value': 10.78653},
    {'period': '20180708', 'value': 13.25251},
    {'period': '20180709', 'value': 12.91587},
    {'period': '20180710', 'value': 12.6232},
    {'period': '20180711', 'value': 12.61047},
    {'period': '20180712', 'value': 11.38885},
    {'period': '20180713', 'value': 10.02286},
    {'period': '20180714', 'value': 9.81724},
    {'period': '20180715', 'value': 11.76582},
    {'period': '20180716', 'value': 11.71578},
    {'period': '20180717', 'value': 11.82496},
    {'period': '20180718', 'value': 11.643},
    {'period': '20180719', 'value': 10.68705},
    {'period': '20180720', 'value': 9.34108},
    {'period': '20180721', 'value': 9.31531},
    {'period': '20180722', 'value': 11.21112},
    {'period': '20180723', 'value': 10.93028},
    {'period': '20180724', 'value': 10.91421},
    {'period': '20180725', 'value': 10.50872},
    {'period': '20180726', 'value': 9.95311},
    {'period': '20180727', 'value': 9.42449},
    {'period': '20180728', 'value': 8.70783},
    {'period': '20180729', 'value': 10.28672},
    {'period': '20180730', 'value': 10.07503},
    {'period': '20180731', 'value': 9.88335},
    {'period': '20180801', 'value': 9.69744},
    {'period': '20180802', 'value': 9.61889},
    {'period': '20180803', 'value': 8.85492},
    {'period': '20180804', 'value': 8.34966},
    {'period': '20180805', 'value': 9.81026},
    {'period': '20180806', 'value': 9.58644},
    {'period': '20180807', 'value': 10.25002},
    {'period': '20180808', 'value': 10.24274},
    {'period': '20180809', 'value': 9.94098},
    {'period': '20180810', 'value': 9.36201},
    {'period': '20180811', 'value': 9.8603},
    {'period': '20180812', 'value': 10.96122},
    {'period': '20180813', 'value': 11.00246},
    {'period': '20180814', 'value': 10.78046},
    {'period': '20180815', 'value': 12.43972},
    {'period': '20180816', 'value': 12.17859},
    {'period': '20180817', 'value': 12.33327},
    {'period': '20180818', 'value': 13.32106},
    {'period': '20180819', 'value': 13.77962},
    {'period': '20180820', 'value': 13.31469},
    {'period': '20180821', 'value': 13.68954},
    {'period': '20180822', 'value': 13.58794},
    {'period': '20180823', 'value': 13.78902},
    {'period': '20180824', 'value': 13.96917},
    {'period': '20180825', 'value': 14.78894},
    {'period': '20180826', 'value': 19.31755},
    {'period': '20180827', 'value': 18.46229},
    {'period': '20180828', 'value': 18.62667},
    {'period': '20180829', 'value': 18.70249},
    {'period': '20180830', 'value': 18.20177},
    {'period': '20180831', 'value': 17.11208},
    {'period': '20180901', 'value': 19.3133},
    {'period': '20180902', 'value': 22.04436},
    {'period': '20180903', 'value': 23.07612},
    {'period': '20180904', 'value': 23.13436},
    {'period': '20180905', 'value': 24.39207},
    {'period': '20180906', 'value': 24.62104},
    {'period': '20180907', 'value': 23.61142},
    {'period': '20180908', 'value': 25.09629},
    {'period': '20180909', 'value': 29.65189},
    {'period': '20180910', 'value': 29.23457},
    {'period': '20180911', 'value': 33.04076},
    {'period': '20180912', 'value': 32.88912},
    {'period': '20180913', 'value': 31.80944},
    {'period': '20180914', 'value': 30.0877},
    {'period': '20180915', 'value': 30.35065},
    {'period': '20180916', 'value': 35.336},
    {'period': '20180917', 'value': 32.92157},
    {'period': '20180918', 'value': 32.3881},
    {'period': '20180919', 'value': 31.31812},
    {'period': '20180920', 'value': 29.72225},
    {'period': '20180921', 'value': 27.49464},
    {'period': '20180922', 'value': 25.40806},
    {'period': '20180923', 'value': 25.70012},
    {'period': '20180924', 'value': 25.26703},
    {'period': '20180925', 'value': 33.43594},
    {'period': '20180926', 'value': 46.07795},
    {'period': '20180927', 'value': 45.61484},
    {'period': '20180928', 'value': 45.76587},
    {'period': '20180929', 'value': 48.76473},
    {'period': '20180930', 'value': 54.10916},
    {'period': '20181001', 'value': 58.3633},
    {'period': '20181002', 'value': 53.27999},
    {'period': '20181003', 'value': 60.36769},
    {'period': '20181004', 'value': 57.83256},
    {'period': '20181005', 'value': 55.61557},
    {'period': '20181006', 'value': 57.57689},
    {'period': '20181007', 'value': 62.17162},
    {'period': '20181008', 'value': 60.05258},
    {'period': '20181009', 'value': 71.04808},
    {'period': '20181010', 'value': 73.47464},
    {'period': '20181011', 'value': 73.27841},
    {'period': '20181012', 'value': 65.27904},
    {'period': '20181013', 'value': 63.64375},
    {'period': '20181014', 'value': 75.39896},
    {'period': '20181015', 'value': 72.55691},
    {'period': '20181016', 'value': 76.02645},
    {'period': '20181017', 'value': 72.5105},
    {'period': '20181018', 'value': 72.26272},
    {'period': '20181019', 'value': 64.19936},
    {'period': '20181020', 'value': 63.85119},
    {'period': '20181021', 'value': 75.18121},
    {'period': '20181022', 'value': 75.20608},
    {'period': '20181023', 'value': 80.37855},
    {'period': '20181024', 'value': 77.30448},
    {'period': '20181025', 'value': 72.53507},
    {'period': '20181026', 'value': 69.23839},
    {'period': '20181027', 'value': 69.87286},
    {'period': '20181028', 'value': 87.54086},
    {'period': '20181029', 'value': 84.94901},
    {'period': '20181030', 'value': 86.43267},
    {'period': '20181031', 'value': 81.56499},
    {'period': '20181101', 'value': 79.06352},
    {'period': '20181102', 'value': 70.09486},
    {'period': '20181103', 'value': 72.23725},
    {'period': '20181104', 'value': 86.75203},
    {'period': '20181105', 'value': 83.74862},
    {'period': '20181106', 'value': 86.08905},
    {'period': '20181107', 'value': 86.2413},
    {'period': '20181108', 'value': 82.87547},
    {'period': '20181109', 'value': 71.85572},
    {'period': '20181110', 'value': 75.06323},
    {'period': '20181111', 'value': 92.06613},
    {'period': '20181112', 'value': 85.98078},
    {'period': '20181113', 'value': 87.71586},
    {'period': '20181114', 'value': 85.61411},
    {'period': '20181115', 'value': 80.51897},
    {'period': '20181116', 'value': 75.04807},
    {'period': '20181117', 'value': 76.1511},
    {'period': '20181118', 'value': 92.37427},
    {'period': '20181119', 'value': 88.16866},
    {'period': '20181120', 'value': 88.39885},
    {'period': '20181121', 'value': 90.08692},
    {'period': '20181122', 'value': 84.79009},
    {'period': '20181123', 'value': 74.98953},
    {'period': '20181124', 'value': 78.69655},
    {'period': '20181125', 'value': 92.84527},
    {'period': '20181126', 'value': 86.07662},
    {'period': '20181127', 'value': 88.09132},
    {'period': '20181128', 'value': 86.49939},
    {'period': '20181129', 'value': 83.09475},
    {'period': '20181130', 'value': 72.73827},
    {'period': '20181201', 'value': 83.58637},
    {'period': '20181202', 'value': 99.03798},
    {'period': '20181203', 'value': 90.55306},
    {'period': '20181204', 'value': 94.06962},
    {'period': '20181205', 'value': 92.41006},
    {'period': '20181206', 'value': 89.25107},
    {'period': '20181207', 'value': 81.3066},
    {'period': '20181208', 'value': 81.46218},
    {'period': '20181209', 'value': 100.0},
    {'period': '20181210', 'value': 93.61833},
    {'period': '20181211', 'value': 97.0621},
    {'period': '20181212', 'value': 93.03815},
    {'period': '20181213', 'value': 87.32947},
    {'period': '20181214', 'value': 75.39108},
    {'period': '20181215', 'value': 80.2166},
    {'period': '20181216', 'value': 96.92835},
    {'period': '20181217', 'value': 91.68279},
    {'period': '20181218', 'value': 86.53154},
    {'period': '20181219', 'value': 82.564},
    {'period': '20181220', 'value': 75.12843},
    {'period': '20181221', 'value': 62.64777},
    {'period': '20181222', 'value': 62.36359},
    {'period': '20181223', 'value': 74.26802},
    {'period': '20181224', 'value': 61.82891},
    {'period': '20181225', 'value': 77.65326},
    {'period': '20181226', 'value': 75.82416},
    {'period': '20181227', 'value': 71.68345},
    {'period': '20181228', 'value': 63.42447},
    {'period': '20181229', 'value': 67.23612},
    {'period': '20181230', 'value': 73.27083},
    {'period': '20181231', 'value': 56.99914}]}],
 'success': True}

In [32]:
json_normalize(response.json()["result"][0]["data"]).info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 365 entries, 0 to 364
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   period  365 non-null    object
 1   value   365 non-null    float64
dtypes: float64(1), object(1)
memory usage: 5.8+ KB

<ipython-input-32-070414b2c6b1>:1: FutureWarning: pandas.io.json.json_normalize is deprecated, use pandas.json_normalize instead
  json_normalize(response.json()["result"][0]["data"]).info()