# #1. Data Preprocessing 
* 분석에 사용할 데이터를 전처리하는 과정입니다.

In [1]:
import warnings
warnings.filterwarnings(action='ignore')

import pandas as pd 
import numpy as np
pd.set_option("max_rows", 500)
pd.set_option("max_columns", 500)
pd.set_option('float_format', '{:f}'.format)

import dataload

import datetime
from tqdm import tqdm 
from functools import reduce
tqdm.pandas()

# crawling 
import os
import sys
import urllib.request

import re
from bs4 import BeautifulSoup

import json
from pandas.io.json import json_normalize

%matplotlib inline
import seaborn as sns
import matplotlib.pyplot as plt 
plt.style.use('seaborn')
plt.rc('font', family='AppleGothic')
plt.rc('axes', unicode_minus=False)

# 1. 제공 데이터

In [2]:
buy_full = dataload.load_buy()
print(buy_full.shape)
buy_full.head()

(2056899, 6)

       date sex  age big_cat sm_cat  qty
0  20180101   F   20      식품    가공란   37
1  20180101   F   30      식품    가공란   16
2  20180101   F   40      식품    가공란    9
3  20180101   F   50      식품    가공란    3
4  20180101   M   20      식품    가공란   13