# #1. Data Preprocessing

* 날씨 지수 생성을 위한 파일입니다.

# 1. 소비자심리지수

## 0. 데이터 불러오기

In [ ]:
import numpy as np
import pandas as pd
import datetime
from tqdm.notebook import tqdm
tqdm.pandas()

import matplotlib.pyplot as plt
from matplotlib import rc
import seaborn as sns
%matplotlib inline

rc('font', family='MalgunGothic')
plt.rcParams['axes.unicode_minus'] = False

/usr/local/lib/python3.7/dist-packages/tqdm/std.py:658: FutureWarning: The Panel class is removed from pandas. Accessing it from the top-level namespace will also be removed in the next version
  from pandas import Panel

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
import os
os.chdir('/content/drive/MyDrive/기상청/데이터')

In [ ]:
df_seoul = pd.read_csv('./소비자심리지수/소비자심리지수_seoul_past.csv', encoding='CP949')
df_others = pd.read_csv('./소비자심리지수/소비자심리지수_other_past.csv', encoding='CP949')

In [ ]:
df_seoul.head(2)

       지수코드별 분류코드별     항목  단위  ...  2019. 10 월  2019. 11 월  2019. 12 월  Unnamed: 28
0  현재생활형편CSI    전체  소비자동향 NaN  ...        92.0        92.0        92.0          NaN
1  현재생활형편CSI    남자  소비자동향 NaN  ...        91.0        92.0        91.0          NaN

[2 rows x 29 columns]

In [ ]:
df_others.head(2)

   CSI_CODE별 BRANCH_CODE별  2018. 01  ...  2019. 10  2019. 11  2019. 12
0  현재생활형편CSI           부산      90.0  ...      89.0      86.0      85.0
1  현재생활형편CSI         대구경북      89.0  ...      85.0      87.0      87.0

[2 rows x 26 columns]

## 1. 서울 소비자 심리지수 계산

In [ ]:
df_seoul1 = df_seoul[df_seoul['분류코드별']=='서울'].reset_index(drop=True)

In [ ]:
print(df_seoul1.shape)

(24, 29)

In [ ]:
df_seoul1.head(2)

       지수코드별 분류코드별     항목  단위  ...  2019. 10 월  2019. 11 월  2019. 12 월  Unnamed: 28
0  현재생활형편CSI    서울  소비자동향 NaN  ...        92.0        93.0        93.0          NaN
1  현재경기판단CSI    서울  소비자동향 NaN  ...        72.0        74.0        72.0          NaN

[2 rows x 29 columns]

In [ ]:
df_seoul1['지수코드별'].unique()

array(['현재생활형편CSI', '현재경기판단CSI', '생활형편전망CSI', '향후경기전망CSI', '취업기회전망CSI',
       '금리수준전망CSI', '가계수입전망CSI', '소비지출전망CSI', '내구재 지출전망CSI',
       '의류비 지출전망CSI', '외식비 지출전망CSI', '여행비 지출전망CSI', '교육비 지출전망CSI',
       '의료·보건비 지출전망CSI', '교양·오락·문화생활비 지출전망CSI', '교통비 및 통신비 지출전망CSI',
       '주거비 지출전망CSI', '현재가계저축CSI', '가계저축전망CSI', '현재가계부채CSI', '가계부채전망CSI',
       '물가수준전망(1년후)CSI', '주택가격전망CSI', '임금수준전망CSI'], dtype=object)

In [ ]:
df_csi = df_seoul1[df_seoul1['지수코드별'].apply(lambda x: x in ["현재생활형편CSI","생활형편전망CSI","현재경기판단CSI","향후경기전망CSI","소비지출전망CSI","가계수입전망CSI"])].reset_index(drop=True)

In [ ]:
df_csi.head(2)

       지수코드별 분류코드별     항목  단위  ...  2019. 10 월  2019. 11 월  2019. 12 월  Unnamed: 28
0  현재생활형편CSI    서울  소비자동향 NaN  ...        92.0        93.0        93.0          NaN
1  현재경기판단CSI    서울  소비자동향 NaN  ...        72.0        74.0        72.0          NaN

[2 rows x 29 columns]

In [ ]:
df_csi.drop(['단위','Unnamed: 28'], axis=1, inplace=True)

In [ ]:
df_csi_seoul = df_csi.mean().tolist()

## 2. 서울 이외의 지역

In [ ]:
df_others.head(2)

   CSI_CODE별 BRANCH_CODE별  2018. 01  ...  2019. 10  2019. 11  2019. 12
0  현재생활형편CSI           부산      90.0  ...      89.0      86.0      85.0
1  현재생활형편CSI         대구경북      89.0  ...      85.0      87.0      87.0

[2 rows x 26 columns]

In [ ]:
df_others_csi = df_others[df_others['CSI_CODE별'].apply(lambda x: x in ["현재생활형편CSI","생활형편전망CSI","현재경기판단CSI","향후경기전망CSI","소비지출전망CSI","가계수입전망CSI"])].reset_index(drop=True)

In [ ]:
df_others_csi.head(2)

   CSI_CODE별 BRANCH_CODE별  2018. 01  ...  2019. 10  2019. 11  2019. 12
0  현재생활형편CSI           부산      90.0  ...      89.0      86.0      85.0
1  현재생활형편CSI         대구경북      89.0  ...      85.0      87.0      87.0

[2 rows x 26 columns]

In [ ]:
df_group = df_others_csi.groupby(['BRANCH_CODE별']).mean().reset_index()

In [ ]:
df_group.head(2)

  BRANCH_CODE별    2018. 01    2018. 02  ...   2019. 10   2019. 11   2019. 12
0           강릉  102.500000   98.333333  ...  86.833333  88.500000  87.666667
1           강원  103.166667  100.000000  ...  88.166667  88.333333  88.833333

[2 rows x 25 columns]

## 3. 데이터 병합

In [ ]:
df_csi_seoul = ["서울"] + df_csi_seoul

In [ ]:
df_final = df_group.append(pd.DataFrame([df_csi_seoul], columns = df_group.columns)).reset_index(drop=True)

In [ ]:
df_final.rename(columns={"BRANCH_CODE별":"시도"},inplace=True)

In [ ]:
df_final.head(2)

   시도    2018. 01    2018. 02  ...   2019. 10   2019. 11   2019. 12
0  강릉  102.500000   98.333333  ...  86.833333  88.500000  87.666667
1  강원  103.166667  100.000000  ...  88.166667  88.333333  88.833333

[2 rows x 25 columns]

In [ ]:
print(df_final.shape)

(14, 25)

In [ ]:
df_final['시도'].unique()

array(['강릉', '강원', '경기', '경남', '광주전남', '대구경북', '대전충남', '부산', '울산', '인천',
       '전북', '제주', '충북', '서울'], dtype=object)

In [ ]:
df_final.to_csv('./외부데이터/소비자심리지수.csv',encoding='CP949',index=False)

# 2. 날씨지수 생성 함수

## 0. Data Load

In [ ]:
df_final = pd.read_csv('./소비자심리지수.csv',encoding='CP949')

In [ ]:
df_final.head()

     시도    2018. 01    2018. 02  ...   2020. 10   2020. 11   2020. 12
0    강릉  102.500000   98.333333  ...  78.833333  83.833333  78.333333
1    강원  103.166667  100.000000  ...  81.166667  85.000000  78.833333
2    경기  102.333333  102.666667  ...  86.500000  92.166667  84.500000
3    경남   94.666667   92.833333  ...  79.500000  85.833333  80.500000
4  광주전남  104.000000  103.666667  ...  84.666667  89.833333  83.500000

[5 rows x 37 columns]

## 1. 데이터 재구조화

In [ ]:
df_melt = pd.melt(df_final, id_vars=['시도'])

In [ ]:
df_melt['yymm'] = df_melt['variable'].apply(lambda x: x[:4] + x[6:8])

In [ ]:
print(df_melt.shape)

(504, 4)

In [ ]:
df_melt.head()

     시도  variable       value    yymm
0    강릉  2018. 01  102.500000  201801
1    강원  2018. 01  103.166667  201801
2    경기  2018. 01  102.333333  201801
3    경남  2018. 01   94.666667  201801
4  광주전남  2018. 01  104.000000  201801

In [ ]:
df_melt['시도'].unique()

array(['강릉', '강원', '경기', '경남', '광주전남', '대구경북', '대전충남', '부산', '울산', '인천',
       '전북', '제주', '충북', '서울'], dtype=object)

## 2. 함수

* 강원 숫자 처리 필요

In [ ]:
def score(data, col_name):
    # 데이터 전처리
    data['시도'] = data['aws_id'].map({108:'서울', 159:'부산', 143:'대구', 112:'인천', 156:'광주',
                                     133:'대전', 152:'울산', 119:'경기', 105:'강원', 131:'충북', 232:'충남',
                                     146:'전북', 168:'전남', 136:'경북', 155:'경남', 184:'제주'})
    data['date'] = pd.to_datetime(data['date'], format='%Y-%m-%d')
    data['year'] = data['date'].dt.year
    data['month'] = data['date'].dt.month
    data['yymm'] = data['year'].map(str) + data['month'].apply(lambda x: str(x) if x >= 10 else '0'+str(x))

    # score 계산
    data['score'] = np.nan
    for i in range(len(data)):
        for j in range(len(df_melt)):
            if (data.loc[i,'yymm'] == df_melt.loc[j,'yymm']) & (data.loc[i,'시도'] in df_melt.loc[j,'시도']):
                data.loc[i,'score'] = data.loc[i,col_name]*(df_melt.loc[j,'value']/100)
    return pd.DataFrame(data.groupby(['date'])['score'].mean()).reset_index()

## 3. 실행예시

In [ ]:
example = pd.DataFrame({'date' : ['2018-01-01','2018-01-01','2018-01-01','2018-02-01','2018-12-31'],
                        'aws_id' : [108,159,143,112,156],
                        'hm_max' : [91,25,89,67,85]})

In [ ]:
example

         date  aws_id  hm_max
0  2018-01-01     108      91
1  2018-01-01     159      25
2  2018-01-01     143      89
3  2018-02-01     112      67
4  2018-12-31     156      85

In [ ]:
daily_score = score(example, 'hm_max')

In [ ]:
daily_score

        date      score
0 2018-01-01  66.454444
1 2018-02-01  65.436667
2 2018-12-31  77.775000

In [ ]:
# 확인
print((df_melt[(df_melt['yymm']=='201801')&(df_melt['시도']=='서울')].value/100)*91)
print((df_melt[(df_melt['yymm']=='201801')&(df_melt['시도']=='부산')].value/100)*25)
print((df_melt[(df_melt['yymm']=='201801')&(df_melt['시도']=='대구경북')].value/100)*89)

13    90.696667
Name: value, dtype: float64
7    23.375
Name: value, dtype: float64
5    85.291667
Name: value, dtype: float64

In [ ]:
# 확인
(sum([90.696667,23.375,85.291667])/3)

66.45444466666667

# 3. 날씨 지수

## 0. Data Load

In [ ]:
weather1 = pd.read_csv('weather1819.csv')
weather2 = pd.read_csv('weather1819_2.csv', encoding='CP949')
weather3 = pd.read_csv('weather_final.csv',encoding='CP949')
customer = pd.read_csv('소비자심리지수.csv',encoding='CP949')
online = pd.read_csv('data.csv',encoding='CP949')

In [ ]:
weather1.head(2)

         date  stn_id  avg_ta  max_ta  min_ta  rn_day  rn_hr1  avg_ws
0  2018-01-01     105     1.3     5.7    -2.1     0.0     0.0     3.7
1  2018-01-01     112    -0.3     2.7    -2.7     0.0     0.0     1.6

In [ ]:
weather2.head(2)

   Unnamed: 0        date  aws_id region  ...       PM25  hm_max  sum_ss_hr  max_pa
0           0  2018-01-01     105     강릉  ...  13.400000    25.4       57.9  1023.0
1           1  2018-01-01     108     서울  ...  21.470696    57.1       51.6  1018.1

[2 rows x 9 columns]

In [ ]:
customer.head(2)

   시도    2018. 01    2018. 02  ...   2020. 10   2020. 11   2020. 12
0  강릉  102.500000   98.333333  ...  78.833333  83.833333  78.333333
1  강원  103.166667  100.000000  ...  81.166667  85.000000  78.833333

[2 rows x 37 columns]

In [ ]:
online.head(2)

       date sex  age big_cat sm_cat  qty       cnt
0  20180101   F   20      식품    가공란   37  0.480964
1  20180101   F   30      식품    가공란   16  0.480964

## 1. Data preprocessing

In [ ]:
# 데이터 재구조화
df_melt = pd.melt(customer, id_vars=['시도'])

In [ ]:
# yymm 변수 생성
df_melt['yymm'] = df_melt['variable'].apply(lambda x: x[:4] + x[6:8])

In [ ]:
# 열 이름 변경
weather1.rename(columns={'stn_id':'aws_id'}, inplace=True)

In [ ]:
# 필요없는 열 제거
weather2.drop(['Unnamed: 0'], axis=1, inplace=True)

In [ ]:
# 날짜 변수
online['date'] = pd.to_datetime(online['date'], format='%Y%m%d')

## 2. 소비자 심리지수 반영한 날씨지수

In [ ]:
def score(data, col_name):
    # 데이터 전처리
    data['시도'] = data['aws_id'].map({108:'서울', 159:'부산', 143:'대구', 112:'인천', 156:'광주',
                                     133:'대전', 152:'울산', 119:'경기', 105:'강원', 131:'충북', 232:'충남',
                                     146:'전북', 168:'전남', 136:'경북', 155:'경남', 184:'제주'})
    data['date'] = pd.to_datetime(data['date'], format='%Y-%m-%d')
    data['year'] = data['date'].dt.year
    data['month'] = data['date'].dt.month
    data['yymm'] = data['year'].map(str) + data['month'].apply(lambda x: str(x) if x >= 10 else '0'+str(x))

    # score 계산
    data['score'] = np.nan
    for i in tqdm(range(len(data))):
        for j in range(len(df_melt)):
            if (data.loc[i,'yymm'] == df_melt.loc[j,'yymm']) & (data.loc[i,'시도'] in df_melt.loc[j,'시도']):
                data.loc[i,'score'] = data.loc[i,col_name]*(df_melt.loc[j,'value']/100)
    return pd.DataFrame(data.groupby(['date'])['score'].mean()).reset_index()

In [ ]:
print(sorted(weather1.aws_id.unique()))
print(sorted(weather2.aws_id.unique()))

[105, 108, 112, 119, 131, 133, 136, 143, 146, 152, 155, 156, 159, 168, 184, 232]
[105, 108, 112, 119, 131, 133, 136, 143, 146, 152, 155, 156, 159, 168, 184, 232]

In [ ]:
print(weather1.columns.tolist())
print(weather2.columns.tolist())

['date', 'aws_id', 'avg_ta', 'max_ta', 'min_ta', 'rn_day', 'rn_hr1', 'avg_ws']
['date', 'aws_id', 'region', 'PM10', 'PM25', 'hm_max', 'sum_ss_hr', 'max_pa']

In [ ]:
weather1.head(2)

         date  aws_id  avg_ta  max_ta  min_ta  rn_day  rn_hr1  avg_ws
0  2018-01-01     105     1.3     5.7    -2.1     0.0     0.0     3.7
1  2018-01-01     112    -0.3     2.7    -2.7     0.0     0.0     1.6

In [ ]:
# weather1에 대한 날씨지수
avg_ta = score(weather1, 'avg_ta')
max_ta = score(weather1, 'max_ta')
min_ta = score(weather1, 'min_ta')
rn_day = score(weather1, 'rn_day')
rn_hr1 = score(weather1, 'rn_hr1')
avg_ws = score(weather1, 'avg_ws')

In [ ]:
# 열 이름 변경
avg_ta.columns = ['date', 'avg_ta']
max_ta.columns = ['date', 'max_ta']
min_ta.columns = ['date', 'min_ta']
rn_day.columns = ['date', 'rn_day']
rn_hr1.columns = ['date', 'rn_hr1']
avg_ws.columns = ['date', 'avg_ws']

In [ ]:
weather2.head(2)

         date  aws_id region       PM10       PM25  hm_max  sum_ss_hr  max_pa
0  2018-01-01     105     강릉  20.066667  13.400000    25.4       57.9  1023.0
1  2018-01-01     108     서울  42.307692  21.470696    57.1       51.6  1018.1

In [ ]:
# weather2에 대한 날씨지수
PM10 = score(weather2, 'PM10')
PM25 = score(weather2, 'PM25')
hm_max = score(weather2, 'hm_max')
sum_ss_hr = score(weather2, 'sum_ss_hr')
max_pa = score(weather2, 'max_pa')

HBox(children=(FloatProgress(value=0.0, max=11680.0), HTML(value='')))

HBox(children=(FloatProgress(value=0.0, max=11680.0), HTML(value='')))

HBox(children=(FloatProgress(value=0.0, max=11680.0), HTML(value='')))

HBox(children=(FloatProgress(value=0.0, max=11680.0), HTML(value='')))

HBox(children=(FloatProgress(value=0.0, max=11680.0), HTML(value='')))

In [ ]:
# 열 이름 변경
PM10.columns = ['date', 'PM10']
PM25.columns = ['date', 'PM25']
hm_max.columns = ['date', 'hm_max']
sum_ss_hr.columns = ['date', 'sum_ss_hr']
max_pa.columns = ['date', 'max_pa']

In [ ]:
# 여러 데이터 프레임 merge
dfs2 = [PM10, PM25, hm_max, sum_ss_hr, max_pa]
df_merge2 = reduce(lambda left, right: pd.merge(left, right, on='date'), dfs2)

In [ ]:
df_merge2.head(2)

        date       PM10       PM25     hm_max  sum_ss_hr       max_pa
0 2018-01-01  44.015611  21.477208  61.923313  52.276365  1020.592385
1 2018-01-02  59.179487  33.836826  74.169781  37.996677  1021.524802

## 3. 온라인 구매건수 merge

In [ ]:
online.head(2)

        date sex  age big_cat sm_cat  qty       cnt
0 2018-01-01   F   20      식품    가공란   37  0.480964
1 2018-01-01   F   30      식품    가공란   16  0.480964

In [ ]:
merge_1 = pd.merge(online, df_merge, how='left', on='date')
df_final = pd.merge(merge_1, df_merge2, how='left', on='date')

In [ ]:
df_final.head(2)

        date sex  age big_cat  ...       PM25     hm_max  sum_ss_hr       max_pa
0 2018-01-01   F   20      식품  ...  21.477208  61.923313  52.276365  1020.592385
1 2018-01-01   F   30      식품  ...  21.477208  61.923313  52.276365  1020.592385

[2 rows x 18 columns]

In [ ]:
df_final.to_csv('data_with_weather.csv', index=False, encoding='CP949')

In [ ]:
pd.read_csv('data_with_weather.csv', encoding='CP949')

               date sex  age  ...     hm_max  sum_ss_hr       max_pa
0        2018-01-01   F   20  ...  61.923313  52.276365  1020.592385
1        2018-01-01   F   30  ...  61.923313  52.276365  1020.592385
2        2018-01-01   F   40  ...  61.923313  52.276365  1020.592385
3        2018-01-01   F   50  ...  61.923313  52.276365  1020.592385
4        2018-01-01   M   20  ...  61.923313  52.276365  1020.592385
...             ...  ..  ...  ...        ...        ...          ...
2056894  2019-12-31   M   20  ...  61.658000  47.797865   927.437910
2056895  2019-12-31   M   30  ...  61.658000  47.797865   927.437910
2056896  2019-12-31   M   40  ...  61.658000  47.797865   927.437910
2056897  2019-12-31   M   50  ...  61.658000  47.797865   927.437910
2056898  2019-12-31   M   60  ...  61.658000  47.797865   927.437910

[2056899 rows x 18 columns]