# 날씨 데이터

## 0. 데이터 로드

In [1]:
import numpy as np
import pandas as pd
import datetime as datetime
import dataload
from tqdm.notebook import tqdm
%matplotlib inline
tqdm.pandas()

In [34]:
hm_full, icsr_full, prsr_full = dataload.load_weather() # 습도, 일조시간, 기압

In [35]:
hm_full['date'] = hm_full['tm'].apply(lambda x : pd.to_datetime(x[:10]))
icsr_full['date'] = icsr_full['tma'].apply(lambda x : pd.to_datetime(x[:10]))
prsr_full['date'] = prsr_full['tma'].apply(lambda x : pd.to_datetime(x[:10]))

hm_full = hm_full.groupby(['date', 'aws_id']).max().reset_index()[['date', 'aws_id', 'hm_max']]
icsr_full = icsr_full.groupby(['date', 'stn_id']).max().reset_index()[['date', 'stn_id', 'sum_ss_hr']]
prsr_full = prsr_full.groupby(['date', 'stn_id']).max().reset_index()[['date', 'stn_id', 'max_pa']]

icsr_full.columns = ['date', 'aws_id', 'sum_ss_hr_max']
prsr_full.columns = ['date', 'aws_id', 'pa_max']

In [36]:
hm_full.shape, icsr_full.shape, prsr_full.shape

((11680, 3), (11674, 3), (11680, 3))

In [37]:
weather_full = hm_full.merge(icsr_full, on=['date', 'aws_id'], how='outer').merge(prsr_full, on=['date', 'aws_id'], how='outer')
weather_full.head()

        date  aws_id  hm_max  sum_ss_hr_max  pa_max
0 2018-01-01     101    91.6           50.6  1019.4
1 2018-01-01     105    25.4           57.9  1023.0
2 2018-01-01     108    57.1           51.6  1018.1
3 2018-01-01     112    67.2           53.8  1020.3
4 2018-01-01     131    71.4           54.6  1022.0